* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gallary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}

.gallary img {
    width: 100%;
}